.login{
    /* background:-moz-linear-gradient(top, #d1cfc9, #C7BE9B 30%);
    background:-webkit-linear-gradient(top, #9C8F67, #C7BE9B 30%);
    background:-o-linear-gradient(top, #9C8F67, #C7BE9B 30%); */
    background-image: linear-gradient(rgb(0, 153, 255), rgb(140, 0, 255));
}

.login img{
    display: flex;
    margin: auto;
    align-items: center;
    padding:19px ;    
}

.cadastre {
    display: flex;
    justify-content: center;
    padding:20px ;
    color:black;
}

.card label{
    font-weight: bold;
}

form{
    width:40% ;
    margin:0 auto; 
    margin-top:10px ;
    padding-left:40px ;
    padding-right:40px ;
    padding-bottom:40px ;
    
}