@media screen and (max-width: 1200px){
    .container-grid {
        width: 100%;
        
    }
/*  
    .secao-consoles{
        background-color: rgb(195, 221, 221);
   } 

*/
    .menu a{
        font-size: 13px;
    }

    .logo{
        width: 150px;
        height: 70px;
    }

    
    .games-container img {
        width: 100%;
       
    }
}